body {
    margin:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    zoom:110%;
    background-color:black;
}
body.formation {
    background-color: darkblue;
}
h1 {
    clear:both;
    display: block;
    padding: 40px 40px;
    font-size: 75px;
    margin-top:80px;
    color:white;

}
hr {
    margin-left: 50px;
    margin-right: 50px;
    height: 5px;
    color: white;
}
h2 {
    font-size: 40px;
    color:white;
}
.center {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
h2.col {
    margin-left: 50px;
}
h3 {
    color:white;
    margin-left: 50px;
    margin-right: 50px;
    font-size:30px;
}
.wrap {
    word-wrap: break-word; width: 90%
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
img.col {
    height:400px;
    padding-left:200px;
    padding-top: 50px;
}
img.big {
    width:100%
}
#nebula {
    padding-left: 100px;
}
#spectrum {
    padding-left: 200px;
}
table {
    width:100%
}
.left-col {
    width:50%;
}  
.nav {
    color:black;
    background: rgba(0,0,0,0.5);

}
li{
    float:right;
}  
li a:hover {
    background-color: #111;
  }  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  